name: Build and test

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]
env:
    CARGO_TERM_COLOR: always

jobs:

    Pull:
        defaults:
            run:
                working-directory: /home/dietpi/ALS-API/
        runs-on: self-hosted
        steps:
        - name: Pull
          run: git pull
    Test-Knowledge-Tracing-API:
        needs:  Pull
        defaults:
            run:
                working-directory: /home/dietpi/ALS-API/
        runs-on: self-hosted
        steps:
        - name: Add cargo to PATH
          run: echo "PATH=/home/dietpi/.cargo/bin:$PATH" >> $GITHUB_ENV
        - name: Build
          run: cargo build --bin kt --verbose
        - name: Run tests
          run: cargo test --bin kt --verbose
    Compile-Knowledge-Tracing-API:
        defaults:
            run:
                working-directory: /home/dietpi/ALS-API/
        needs: Test-Knowledge-Tracing-API
        runs-on: self-hosted
        steps:
        - name: Add cargo to PATH
          run: echo "PATH=/home/dietpi/.cargo/bin:$PATH" >> $GITHUB_ENV
        - name: Compile
          run: cargo build --release --target x86_64-pc-windows-gnu --bin kt
    Upload:
        needs: Compile-Knowledge-Tracing-API
        runs-on: self-hosted
        steps:
        - name: Upload Artifact
          uses: actions/upload-artifact@v4
          with:
            name: Application
            path: /home/dietpi/ALS-API/target/x86_64-pc-windows-gnu/release/bundle/nsis/elearningplatform_0.1.0_x64-setup.exe
