name: Build and test

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]
env:
    CARGO_TERM_COLOR: always

jobs:

    Pull:
        defaults:
            run:
                working-directory: /home/dietpi/ALS-API/
        runs-on: pi
        steps:
        - name: Pull
          run: git pull
    Test-Knowledge-Tracing-API:
        needs:  Pull
        defaults:
            run:
                working-directory: /home/dietpi/ALS-API/
        runs-on: pi
        steps:
        - name: Add cargo to PATH
          run: echo "PATH=/home/dietpi/.cargo/bin:$PATH" >> $GITHUB_ENV
        - name: Build
          run: cargo build --bin kt --verbose
        - name: Run tests
          run: cargo test --bin kt --verbose
    Compile-Knowledge-Tracing-API:
        defaults:
            run:
                working-directory: /home/dietpi/ALS-API/
        needs: Test-Knowledge-Tracing-API
        runs-on: pi
        steps:
        - name: Add cargo to PATH
          run: echo "PATH=/home/dietpi/.cargo/bin:$PATH" >> $GITHUB_ENV
        - name: Compile for Windows
          run: cargo build --release --target x86_64-pc-windows-gnu --bin kt
        - name: Compile for Linux (ARM)
          run: cargo build --release --bin kt
        - name: Compile for Linux (x86_64)
          run: cargo build --release --target x86_64-unknown-linux-gnu --bin kt
    Test-Question-Generation-API:
        needs:  Pull
        defaults:
            run:
                working-directory: /home/dietpi/ALS-API/
        runs-on: pi
        steps:
        - name: Add cargo to PATH
          run: echo "PATH=/home/dietpi/.cargo/bin:$PATH" >> $GITHUB_ENV
        - name: Build
          run: cargo build --bin question --verbose
        - name: Run tests
          run: cargo test --bin question --verbose
    Compile-Question-Generation-API:
        defaults:
            run:
                working-directory: /home/dietpi/ALS-API/
        needs: Test-Question-Generation-API
        runs-on: pi
        steps:
        - name: Add cargo to PATH
          run: echo "PATH=/home/dietpi/.cargo/bin:$PATH" >> $GITHUB_ENV
        - name: Compile for Windows
          run: cargo build --release --target x86_64-pc-windows-gnu --bin question
        - name: Compile for Linux (ARM)
          run: cargo build --release --bin question
        - name: Compile for Linux (x86_64)
          run: cargo build --release --target x86_64-unknown-linux-gnu --bin question
    Upload-Artifact:
        needs: [Compile-Knowledge-Tracing-API, Compile-Question-Generation-API]
        runs-on: pi
        steps:
        - name: Create temp folder for artifact
          run: mkdir -p /home/dietpi/ALS-API/artifacts

        - name: Copy binaries to temp folder
          run: |
            cp /home/dietpi/ALS-API/target/x86_64-pc-windows-gnu/release/kt.exe /home/dietpi/ALS-API/artifacts/kt-windows.exe
            cp /home/dietpi/ALS-API/target/release/kt /home/dietpi/ALS-API/artifacts/kt-linux-arm
            cp /home/dietpi/ALS-API/target/x86_64-pc-windows-gnu/release/question.exe /home/dietpi/ALS-API/artifacts/question-windows.exe
            cp /home/dietpi/ALS-API/target/release/question /home/dietpi/ALS-API/artifacts/question-linux-arm
            cp /home/dietpi/ALS-API/target/x86_64-unknown-linux-gnu/release/kt artifacts/kt-linux-x86_64
            cp /home/dietpi/ALS-API/target/x86_64-unknown-linux-gnu/release/question artifacts/question-linux-x86_64

        - name: Upload Artifact
          uses: actions/upload-artifact@v4
          with:
            name: APIs
            path: /home/dietpi/ALS-API/artifacts/*
    Download-Artifact:
      needs: Upload-Artifact
      runs-on: vps
      steps:
      - uses: actions/download-artifact@v5
        with:
          name: APIs
          path: /webserver






